.resetPasswordPage__wrapper {
    display: flex;
    flex-direction: row;
  
    * {
      font-family: 'Poppins';
    }
  }
  
  .resetPasswordPage__formContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .resetPasswordPage__formTitle {
    margin-bottom: 32px;
  }
  
  .resetPasswordPage__loginForm {
    margin-bottom: 16px;
  }
  
  .resetPasswordPage__passwordForm {
    margin-bottom: 16px;
  }
  
  .resetPasswordPage__backToLogin {
    display: flex;
    justify-content: flex-end;
  }
  
  .resetPasswordPage__imageContainer {
    background: #d7ffe4;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      height: 50%;
    }
  }
  